/* Start coding here */

.container {
    background-color: black;
    padding: 16px;
    border: 16px solid lightgrey;
}

.inner-container {
    padding: 72px;
    background-color: khaki;
    border: 24px solid crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inner-container p {
    font-size: 72px;
    margin: 0px 30px 30px 30px; 

}
